[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
	ignore = untracked
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate
	ignore = untracked
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter
	ignore = untracked
[submodule "vim/bundle/neosnippet"]
	path = vim/bundle/neosnippet
	url = git://github.com/Shougo/neosnippet.vim
	ignore = untracked
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails
	ignore = untracked
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler
	ignore = untracked
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
	ignore = untracked
[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = git://github.com/cakebaker/scss-syntax.vim
	ignore = untracked
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
	ignore = untracked
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish
	ignore = untracked
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/tmhedberg/matchit
	ignore = untracked
[submodule "vim/bundle/vim-plugin-minibufexpl"]
	path = vim/bundle/vim-plugin-minibufexpl
	url = git://github.com/techlivezheng/vim-plugin-minibufexpl
	ignore = untracked
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
	ignore = untracked
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
	ignore = untracked
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = git://github.com/myusuf3/numbers.vim
	ignore = untracked
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround
	ignore = untracked
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
	ignore = untracked
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git://github.com/tomasr/molokai
	ignore = untracked
[submodule "vim/bundle/vim-simple-todo"]
	path = vim/bundle/vim-simple-todo
	url = git://github.com/vitalk/vim-simple-todo.git
	ignore = untracked
[submodule "vim/bundle/leap"]
	path = vim/bundle/leap
	url = git://github.com/yoos/leap.vim
	ignore = untracked
[submodule "vim/bundle/vim-railscasts-theme"]
	path = vim/bundle/vim-railscasts-theme
	url = git://github.com/jpo/vim-railscasts-theme
	ignore = untracked
[submodule "vim/bundle/rubyblue"]
	path = vim/bundle/rubyblue
	url = git://github.com/jlong/rubyblue
	ignore = untracked
[submodule "vim/bundle/Wombat"]
	path = vim/bundle/Wombat
	url = git://github.com/vim-scripts/Wombat
	ignore = untracked
[submodule "vim/bundle/Zenburn"]
	path = vim/bundle/Zenburn
	url = git://github.com/jnurmine/Zenburn
	ignore = untracked
[submodule "vim/bundle/HTML-AutoCloseTag"]
	path = vim/bundle/HTML-AutoCloseTag
	url = git://github.com/vim-scripts/HTML-AutoCloseTag.git
	ignore = untracked
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git://github.com/elzr/vim-json.git
	ignore = untracked
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
	ignore = untracked
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion
	ignore = untracked
[submodule "vim/bundle/NrrwRgn"]
	path = vim/bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
	ignore = untracked
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "vim/bundle/neocomplete"]
	path = vim/bundle/neocomplete
	url = git://github.com/Shougo/neocomplete.vim.git
	ignore = dirty
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
  ignore = untracked
[submodule "vim/bundle/vim-capslock"]
	path = vim/bundle/vim-capslock
	url = git://github.com/tpope/vim-capslock.git
  ignore = untracked
[submodule "vim/bundle/vim-tags"]
	path = vim/bundle/vim-tags
	url = https://github.com/szw/vim-tags.git
  ignore = untracked
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
  ignore = untracked
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
  ignore = untracked
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
  ignore = untracked
[submodule "vim/bundle/vim-hybrid"]
	path = vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
  ignore = untracked
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
  ignore = untracked
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
  ignore = untracked
[submodule "vim/bundle/vim-tomorrow-theme"]
	path = vim/bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
  ignore = untracked
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
  ignore = untracked
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
  ignore = untracked
[submodule "vim/bundle/vim-signature"]
	path = vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
  ignore = untracked
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	ignore = untracked
[submodule "vim/bundle/tmuxline"]
	path = vim/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
	ignore = untracked
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
	ignore = untracked
[submodule "vim/bundle/far"]
	path = vim/bundle/far
	url = https://github.com/brooth/far.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-airline-clock"]
	path = vim/bundle/vim-airline-clock
	url = https://github.com/enricobacis/vim-airline-clock.git
	ignore = untracked
[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter
	ignore = untracked
