[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	ignore = untracked
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = untracked
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = untracked
[submodule "vim/bundle/neosnippet"]
	path = vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
	ignore = untracked
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
	ignore = untracked
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
	ignore = untracked
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = untracked
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = untracked
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
	ignore = untracked
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	ignore = untracked
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = untracked
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "vim/bundle/neocomplete"]
	path = vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-capslock"]
	path = vim/bundle/vim-capslock
	url = https://github.com/tpope/vim-capslock.git
  ignore = untracked
[submodule "vim/bundle/vim-tags"]
	path = vim/bundle/vim-tags
	url = https://github.com/szw/vim-tags.git
  ignore = untracked
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
  ignore = untracked
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
  ignore = untracked
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
  ignore = untracked
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
  ignore = untracked
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
  ignore = untracked
[submodule "vim/bundle/vim-signature"]
	path = vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
  ignore = untracked
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	ignore = untracked
[submodule "vim/bundle/tmuxline"]
	path = vim/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
	ignore = untracked
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
	ignore = untracked
[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter
	ignore = untracked
[submodule "vim/bundle/startuptime"]
	path = vim/bundle/startuptime
	url = http://github.com/tweekmonster/startuptime.vim.git
	ignore = untracked
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
	ignore = untracked
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-smooth-scroll"]
	path = vim/bundle/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
	ignore = untracked
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = untracked
[submodule "vim/bundle/vim-searchindex"]
	path = vim/bundle/vim-searchindex
	url = https://github.com/google/vim-searchindex.git
	ignore = untracked
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
	ignore = untracked
[submodule "vim/bundle/ranger"]
	path = vim/bundle/ranger
	url = https://github.com/francoiscabrol/ranger.vim.git
	ignore = untracked
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
	ignore = untracked
[submodule "vim/bundle/devdocs"]
	path = vim/bundle/devdocs
	url = https://github.com/rhysd/devdocs.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-devicons"]
	path = vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
	ignore = untracked
[submodule "vim/bundle/vim-tmux-focus-events"]
	path = vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
	ignore = untracked
[submodule "vim/bundle/vim-twiggy"]
	path = vim/bundle/vim-twiggy
	url = https://github.com/sodapopcan/vim-twiggy.git
	ignore = untracked
[submodule "vim/bundle/vim-dadbod"]
	path = vim/bundle/vim-dadbod
	url = https://@github.com/tpope/vim-dadbod.git
	ignore = untracked
[submodule "vim/bundle/MatchTagAlways"]
	path = vim/bundle/MatchTagAlways
	url = https://@github.com/Valloric/MatchTagAlways.git
	ignore = untracked
[submodule "vim/bundle/NrrwRgn"]
	path = vim/bundle/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
	ignore = untracked
[submodule "vim/bundle/vim-prettier"]
	path = vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
	ignore = untracked
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = untracked
[submodule "vim/bundle/ctrlsf.vim"]
	path = vim/bundle/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-mucomplete"]
	path = vim/bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
	ignore = untracked
